/* --- seznam avatarů --- */

.avatars{
	width: auto;
}

.avatars li{
	float: left;
	position: relative;
	list-style-type: none;

	padding: 3px;

	width: 80px;
	height: 80px;

	background: white;
	border: solid white 3px;

	cursor: pointer;
}

.avatars li:hover{
	background: skyblue;
	border-color: skyblue;
}


.avatars li.select{
	border-color: skyblue;
}

.avatars li img{
	max-width: 80px;
	max-height: 80px;
}

.myres{
	padding: 0px;
	margin: 0px;
}

.myres li{
	list-style-type: none;

	width: calc(100% - 40px);

	padding: 20px;
	margin: 0px;

	border-bottom: solid skyblue 2px;
	vertical-align: middle;
}

.myres li .left div{
	line-height: 30px;
}

h3{
	text-transform: uppercase;
	text-align: center;
}
