h3{
	text-transform: uppercase;
	text-align: center;
}

/* --- seznam avatarů --- */

.avatars{
	width: auto;
}

.avatars{
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
}

.avatars li{
	float: left;
	position: relative;
	list-style-type: none;

	padding: 3px;

	width: calc(20% - 12px);
	height: 80px;
	min-width: 80px;

	text-align: center;

	background: white;
	border: solid white 3px;

	cursor: pointer;
}

.avatars li:hover{
	background: skyblue;
	border-color: skyblue;
}

.avatars li.select{
	border-color: skyblue;
}

.avatars li img{
	max-width: 80px;
	max-height: 80px;
}

/* --- rezervace uživatele --- */

.myres{
	padding: 0px;
	margin: 0px;
}

.myres li{
	list-style-type: none;

	width: calc(100% - 40px);

	padding: 20px;
	margin: 0px;

	border-bottom: solid skyblue 2px;
	vertical-align: middle;
}

.myres li .left div{
	line-height: 30px;
}

/* --- tabulky s informacemi --- */

#profile table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-top: 30px;
	font-size: 150%;
	empty-cells: hide;
}

#profile table tr td{
	border: 1px solid #ddd;
	padding: 10px;
	width: 50%;
}

#profile table tr:nth-child(even){
	background-color: #f2f2f2;
}

#profile table tr.transparent td{
	background: white;
	border: none;
}

input[type="password"]{
	width: calc(100% - 40px);
}
