body{
    padding: 0px;
    margin: 0px;
    
    background: #444444;
}

/* hlavní sekce */
article{
    background: white;
    padding: 10px;
}

/* zápatí */
footer{
    background: #444444;
    color: white;

    text-align: center;
    padding: 10px;
}

/* menu */
nav{
    position: relative;
    width: 100%;

    margin: 0px;
    border-bottom: solid black 1px;

    --nav-height: 50px;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav ul a{
    color: black;
}

nav ul a li{
    background: yellow;

    margin: 1px;
    padding-left: 5px;
    padding-right: 5px;

    min-width: 100px;
    height: var(--nav-height);
    line-height: var(--nav-height);
    
    text-align: center;
    float: left;
    list-style-type: none;
}

nav ul a li:hover{
    text-decoration: underline;
}

.profile_bar{
    height: var(--nav-height);
    width: auto;
}

.profile_bar .avatar{
    float: left;
}

.profile_bar .avatar img{
    padding: 3px;
    height: calc(var(--nav-height) - 6px);
    width: calc(var(--nav-height) - 6px);
}

.profile_bar .name{
    height: var(--nav-height);
    margin-left: var(--nav-height);
    
    padding-left: 5px;
}

/* ostatní */
.right{
    float: right;
}

.left{
    float: left;
}

.cls{
    clear: both;
}

.error{
    font-weight: bold;
}

/* tab panel */

.tabpanel{
    position: relative;
    float: left;
    --tab-title: 40px;

    margin-top: var(--tab-title);
    padding-right: 15px;

    border-top: solid gray 1px;
}

.tabpanel .title{
    float: left;
    cursor: pointer;

    position: relative;
    z-index: 2;

    height: var(--tab-title);

    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    left: 5px;
    top: -2px;
    margin-top: calc(var(--tab-title) * -1);

    text-align: center;
    line-height: var(--tab-title);

    background: white;
    border: solid gray 1px;
    border-bottom: none;
}

.tabpanel .title.selected{
    height: calc(var(--tab-title) + 5px);
    line-height: calc(var(--tab-title) + 5px);
    top: -6px;

    opacity: 1;
}

.tabpanel .tab{
    position: absolute;
    visibility: hidden;
    z-index: 1;

    top: 0px;
    left: 0px;
}

.tabpanel .title:hover{
    background: rgba(250, 250, 250, 1);
}

.tabpanel .tab.selected{
    visibility: visible;
    display: block;

    width: auto;
    height: auto;
}

.tabpanel .default{
    position: relative;
    width: 0px;
    height: 0px;
    float: left;
}

/* tooltip */

[tooltip]{
    position: relative;
}

[tooltip]:after{
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    content: attr(tooltip);
    
    bottom: 100%;

    padding: 5px;
    
    background: black;
    color: white;
}

[tooltip]:hover:after{
    visibility: visible;
}